@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@font-face {
    font-family: 'OPTIBubbleDoubleBold';
    src:url('../fonts/OPTIBubbleDoubleBold.ttf.woff') format('woff'),
        url('../fonts/OPTIBubbleDoubleBold.ttf.svg#OPTIBubbleDoubleBold') format('svg'),
        url('../fonts/OPTIBubbleDoubleBold.ttf.eot'),
        url('../fonts/OPTIBubbleDoubleBold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"Bauhaus_93 W05 Regular";
    src:url("../fonts/86d777be-ba3c-4a21-a94a-41b4f8ddd94b.woff2") format("woff2"),url("Fonts/5683385/9c942d13-7269-478c-b12e-61ac23fc3e16.woff") format("woff");
}

/*Shape divider*/
.custom-shape-divider-top-1605107946 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1605107946 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-top-1605107946 .shape-fill {
    fill: #F4F5F7;
}

.custom-shape-divider-bottom-1605108444 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1605108444 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1605108444 .shape-fill {
    fill: #F4F5F7;
}

:root {
    --bright-blue: #00B2A2;
    --white-color: #fef8f8;
    --grey-color: #b4b2b6;
    --red-color: #ed1c24;
    --pink-color: #FD6564;
    --yellow-color: #fcbe37;
    --dark-color: #1e272e;
    --text-color: #697477;
    --beige-color: #F4F5F7;
}

:root {
    --body-font: 'Merriweather Sans';
    --accent-font: 'Bauhaus_93 W05 Regular', 'OPTIBubbleDoubleBold', 'Parisienne', cursive;
    --big-font-size: 6.25rem;
    --medium-font-size: 5.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

:root {
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

:root {
    --z-fixed: 100;
}

*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

.wrapper {
    overflow-x: hidden;
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section {
    padding: 3rem 0;
}

.section-title {
    position: relative;
    font-family: var(--accent-font);
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0;
    text-align: center;
}

.section-title::after{
    position: absolute;
    content: "";
    width: 50px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--yellow-color);
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: cal(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    position: absolute;
    color: #fff;
}

/* ----------------------------NAV---------------------------------- */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255, 255, 255, .3);
        transition: .5s;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
    }

    .nav__list {
        padding: 50% 0
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: var(--dark-color);
}

.nav__link:hover {
    color: var(--yellow-color);
}

.nav__logo {
    color: var(--dark-color);
    font-family: var(--accent-font);
    font-weight: 600;
    font-size: 1.5rem;
}

.nav__toggle {
    color: var(--white-color);
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 10px;
}

.nav__toggle i {
    background: var(--yellow-color);
    padding: 8px 12px;
    border-bottom-left-radius: 15%;
}

/*--------------------SHOW MENU----------------------*/
.show {
    right: 0;   
}

/* --------------------ACTIVE MENU--------------------*/
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--yellow-color);
}

/* -------------------- HOME --------------------------*/
.home {
    width: 100%;
    background: url('../images/bg-alt-3.PNG') bottom right no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.home__container {
    height: 100vh;
    position: relative;
}

.home__title {
    align-self: flex-end;
    text-align: left;
    font-size: var(--medium-font-size);
    color: var(--dark-color);
    line-height: .8;
}

.home__title span {
    text-shadow: 0 20px 25px rgba(165, 165, 165, 0.788);
    color: var(--dark-color);
}

.home__title .dot {
    color: var(--yellow-color);
    text-shadow: none;
}

.home__scroll {
    align-self: flex-end;
    text-align: left;
    padding-bottom: 2rem;   
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

.home__scroll-link {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 1.3rem;
}

.home__scroll-link i {
    color: var(--yellow-color)
}

/*-------------------- ABOUT ---------------- */
.about {
    position: relative;
}

.about .section-title {
    color: var(--dark-color);
}

.about__container {
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}

.about__img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 120px;
}

.about__img::before {
    position: absolute;
    content: '';
    right: -20px;
    top: 15px;
    border: 6px solid var(--yellow-color);
    border-radius: .5rem;
    opacity: .8;
    width: 100%;
    height: 100%;
}

.about__img img {
    max-width: 100%;
    z-index: 1;
    border-radius: .5rem;
}

.about__subtitle {
    font-size: var(--h2-font-size);
    color: var(--yellow-color);
    margin-bottom: var(--mb-1);
}

.about__text {
    margin-bottom: var(--mb-4);
    width: 80%;
    margin: auto;
}

.about__profession {
    display: block;
    margin-bottom: var(--mb-4);
}

.about__social {
    margin-top: var(--mb-4);
}

.about__social-icon {
    font-size: 1.8rem;
    margin: 0 var(--mb-1);
}

.about__social-icon:hover {
    color: var(--bright-blue);
}

/* -------------------- SKILLS -------------------- */
.skills {
    background-color: var(--beige-color);
}

.skills__container {
    row-gap: 2rem;
    text-align: center;
}

.skills__text {
    width: 76%;
    margin: var(--mb-4) auto;
    text-align: center;
}

.skills__box {
    width: 80%;
    margin: auto;
}

.skills__subtitle {
    color: var(--yellow-color);
    margin-bottom: var(--mb-2);
}

.skills__name {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-2);
    padding: .25rem .5rem;
    color: var(--dark-color);
    border-radius: .25rem;
    position: relative;
    overflow: hidden;
}

.skills__name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: var(--dark-color);
    opacity: .9;
    z-index: -1;
    transition: .8s;
    border-radius: 50% 50% 0 0;
}

.skills__name:hover::before {
    height: 180%;
}

.skills__name:hover {
    color: var(--white-color);
}

.skills__img {
    flex: 1;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.skills__img::before {
    position: absolute;
    content: '';
    right: -30px;
    top: 30px;
    border: 10px solid var(--yellow-color);
    border-radius: .5rem;
    opacity: .7;
    width: 100%;
    height: 100%;
}

.skills__img img {
    border-radius: .5rem;
}

/* -------------------- PORTFOLIO --------------------------*/
.portfolio {
    background-color: var(--dark-color);
    position: relative;
    padding-bottom: 10rem;
}

.portfolio .section-title {
    color: var(--white-color);
}


.portfolio__container {
    justify-items: center;
    row-gap: 2rem;
}

.portfolio__img {
    position: relative;
    overflow: hidden;
}

.portfolio__img img {
    border-radius: .5rem;
}

.portfolio__link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(70px);
    transition: .3s;
    font-size: 12px;
}

.portfolio__link p, .portfolio__link span {
    width: 80%;
    text-align: center;
    color: var(--dark-color);
}

.portfolio__link span {
    margin-top: .5rem;
}

.portfolio__link div {
    display: flex;
}

.portfolio__link tag {
    color: var(--bright-blue);
    font-family: var(--accent-font);
    font-weight: 300;
    letter-spacing: 1.5px;
}

.portfolio__img:hover .portfolio__link {
    bottom: 0;
}

.portfolio__link-name {
    margin-top: .3rem;
    color: var(--dark-color);
}

.portfolio__link-name:hover {
    color: var(--bright-blue);
}

.portfolio__link-name i {
    font-size: 1.8rem;
    margin: .2rem;
}

/* -------------------- CONTACT --------------------------*/
.contact {
    background: url(../images/contact-bg-3.png) top left no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.contact__container {
    row-gap: 2rem;
    padding-bottom: 10rem;
    padding-top: 1rem;
}

.contact__social i {
    font-size: 2rem;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    background-color: var(--dark-color);
}

.contact__social i:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
    background-color: var(--grey-color);
}

.contact__info {
    padding-top: 1rem;
}

.contact__subtitle {
    font-size: var(--normal-font-size);
    color: var(--yellow-color);
}

.contact__text {
    display: inline-block;
    margin-bottom: var(--mb-2);
}

.contact__button {
    display: block;
    width: 40%;
    padding: .75rem .5rem;
    margin: 2rem auto;
    border-radius: .5rem;
    outline: none;
    font-size: var(--normal-font-size);
    color: var(--yellow-color);
    background: transparent;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    box-shadow: -2px -2px 12px rgba(255, 255, 255, 1),
                -2px -2px 12px rgba(255, 255, 255, .5),
                inset 2px 5px 4px rgba(255, 255, 255, .5),
                2px 5px 8px rgba(0, 0, 0, .15);
}

.contact__button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: var(--yellow-color);
    z-index: -1;
    transition: .8s;
    border-radius: 0 0 50% 50%;
}

.contact__button:hover::before {
    height: 180%;
}

.contact__button:hover a {
    color: var(--white-color);
}

.contact__button a {
    color: var(--yellow-color);
}

/* -------------------- FOOTER --------------------------*/
.footer {
    background-color: var(--dark-color);
    position: relative;
    text-align: center;
}

.footer__container {
    row-gap: 2rem;
}

.footer__data span {
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: none;
}

.footer__title {
    font-family: var(--accent-font);
    font-size: var(--normal-font-size);
    letter-spacing: 1.5px;
    color: var(--white-color);
    margin-bottom: var(--mb-2);
}

.footer__link {
    padding: .25rem 0;
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__social {
    font-size: 1.4rem;
    margin-right: var(--mb-1);
}

.footer__social:hover {
    color: var(--first-color);
}

/* -------------------- MEDIA QUERIES --------------------------*/
@media screen and (max-width: 480px) {
    .gallery__section .gallery__image {
        flex: 100%;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    } 

    .section-title {
        margin-bottom: 3rem;
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    } 

    .nav__logo {
        font-size: var(--normal-font-size);
    }
    
    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--dark-color);
    }

    .nav__link:hover {
        color: var(--yellow-color);
    }

    .active::after {
        background-color: var(--yellow-color);
    }

    .home__container {
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }

    .home {
        background: url(../images/bg-alt-3.PNG) center no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }

    .home__title {
        font-size: 8.5rem;
        margin: 10rem 10rem;
    }

    .home__img {
        width: 524px;
        right: 10%;
    }

    .about .section-title {
        margin-bottom: 0;
    }

    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 1rem 0 4rem 0;
    }

    .about__subtitle {
        margin-top: 2rem;
    }

    .about__img {
        width: 200px;
        height: 200px;
    }

    .about__img::before {
        position: absolute;
        content: '';
        right: -30px;
        top: 15px;
        border: 10px solid var(--yellow-color);
        opacity: .8;
        width: 105%;
        height: 125%;
    }
    
    .about__img img {
        width: 200px;
        height: 240px;
    }

    .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: left;
        padding-bottom: 6rem;
    }

    .skills__text {
        text-align: center;
        width: 70%;
    }

    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .portfolio__link {
        font-size: 12px;
    }

    .portfolio__link tag {
        font-size: 15px;
    }

    .gallery__section .gallery__image {
        flex: 100%;
    }

    .contact__container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .contact__info {
        text-align: center;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .footer__data {
        text-align: left;
        line-height: 1.8;
    }

    .footer__data span {
        line-height: 11;
    }
}

@media screen and (max-width: 960px) {
    .gallery__section .gallery__image {
        flex: 33.33%;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .nav__logo {
        font-size: 1.8rem;
    }
    
    .home__title {
        font-size: 6.5rem;
        margin: initial;
    }

    .home__title {
        font-size: var(--big-font-size);
    }

    .home__scroll {
        text-align: left;
    }

    .home__scroll-link {
        writing-mode: vertical-lr;
        font-size: 1.5rem;
        color: var(--dark-color)
    }

    .home__scroll-link i {
        transform: initial;
    }

    .inner-width {
        width: 100%;
        max-width: 1400px;
        margin: auto;
        padding: 0 20px;
    }

    .portfolio .portfolio__container {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    
    .portfolio .portfolio__img {
        flex: 25%;
        overflow: hidden;
        cursor: pointer;
    }
    
    .portfolio .portfolio__img img {
        width: 100%;
        height: 100%;
        transition: .4s;
    }
    
    .portfolio .portfolio__img:hover img {
        transform: scale(1.4);
    }
}